.msgContent {
  display: inline-block;
  width: 100%;
  margin: 4px 0;
}

.msgContainer {
  margin: 0;
  margin: 12px 0;

  & dt {
    height: 36px;
    width: 36px;
    text-align: left;
    float: left;

    .avatar {
      width: 36px;
      height: 36px;
      overflow: hidden;
    }

    .circle {
      border-radius: 50%;
    }

    img {
      width: 36px;
      height: 36px;
    }
  }

  & dd {
    margin: 0;
    float: left;
    position: relative;
    text-align: left;
    max-width: 75%;
    margin: 0;
    width: auto !important;

    .content {
      font-size: 14px;
      line-height: 1.3;
      word-break: break-all;
      word-break: break-word;
      overflow-wrap: break-word;
      background: #fff;
      display: inline-block;
    }

    .hiddenId {
      font-size: 12px;
      color: #eceef0;
      position: absolute;
      bottom: -17px;
      width: 130px;
      left: -31px;
    }

    .textContent {
      padding: 9px 12px;

      img {
        max-width: 200px;
      }

      a {
        color: inherit;
      }
    }

    .imgContent {
      cursor: pointer;

      img {
        max-width: 160px;
        max-height: 160px;
        border-radius: 8px;
      }
    }
  }
}

.geniusMsg {
  & dt {
    margin-right: 10px;
  }

  & dd {
    .content,.bubbleDrip {
      border-radius: 0 24px 24px 24px;
    }

    .bubbleCapsule {
      border-radius: 24px;
    }

    .bubbleSquare {
      border-radius: 1px;
    }
  }
}

.userMsg {
  & dt {
    margin-left: 8px;
    float: right;
  }

  & dd {
    float: right;
    .content,.bubbleDrip {
      border-radius: 24px 0 24px 24px;
    }

    .bubbleCapsule {
      border-radius: 24px;
    }

    .bubbleSquare {
      border-radius: 1px;
    }

    .fontColor {
      color: #000;

      a {
        color: #000;
      }
    }
  }
}
