.app {
  position: fixed;
  z-index: 9999;
  text-align: right;
  right: 16px;
  bottom: 16px;

  ::-webkit-scrollbar
  {
    display: none;
  }
}

.container {
  width: 375px;
  height: 668px;
  max-height: calc(100vh - 106px);
  text-align: left;
  background: #eceef0;
  overflow: hidden;
  transition: all .2s ease-in-out;
  box-shadow: 0 36px 120px 0 rgba(66, 91, 109, 0.3);
  border: 1px solid #D9DEE2;
  position: relative;
  visibility: visible;

  .header {
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;

    dl {
      margin: 0;
      flex: 1;
    }

    dt {
      float: left;
      height: 64px;

      img {
        width: 36px;
        height: 36px;
        margin-top: 12px;
      }

      .circle {
        border-radius: 50%;
      }

      .square {
        border-radius: 0;
      }
    }

    dd {
      float: left;
      width: 247px;
      margin-left: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 64px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .closeBtn {
      width: 50px;
      text-align: right;
      line-height: 60px;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }
  }

  .msgContainer {
    padding: 0 16px;
    bottom: 155px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0px;
    top: 64px;

    .message {
      padding-bottom: 30px;
    }
  }

  .footer {
    width: 100%;
    bottom: 16px;
    height: 121px;
    position: absolute;
  }
}

.boderSquare {
  border-radius: 1px;
}

.borderCircle {
  border-radius: 32px;
}

.entryImg {
  width: 64px;
  height: 64px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(66, 91, 109, 0.3);

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .closeImg {
    width: 60%;
  }
}
